.estilos {

    padding-right: 10px;

    display: flex;

    justify-content: flex-end;

}

.buttonSearch{

    color: black;

    background-color: rgb(180, 179, 179);

    border-radius: 8px;

    margin: 5px;
    
}

.buttonSearch:hover{

    color: wheat;

    background-color: silver;

    border-radius: 8px;
    
}